/** Top Navigation bar for profile.html **/
.top-navigation {
    background-color: rgb(0,104,147);
    padding-top: 15px;
}

.top-navigation a, .bottom-navigation a{
    color:#ffffff;
}

.top-navigation a:hover, .bottom-navigation a:hover{
    color:#000000;
}

.nav-erx-logo {
    max-height: auto;
    max-width: auto;
    min-heigh:auto;
    min-width: auto;
    border: none;
    border-style: none;
}

.top-banner-icon{
	margin-right: 25px;
}

.top-navigation-menu {
    margin-left:15%;   
}

.top-navigation-menu li {
    display:inline;
    list-style: none;
    padding:15px;
}
/** Left Menu bar profile.html **/

.top-margin-25 {
    margin-top: 25px;
}



body {
    background: url('../img/bg.jpg') repeat;
}


/*Modal Form*/
.modal-header, .modal-footer{
    background-color: rgb(0,104,147);
    color: #ffffff;
    box-shadow: 0.3px 0.5px 4px #444444; 
}
/*Stop TextArea in Modals from resizing.*/
textarea{
    resize: none;
}

.tab-item {
    width:50%;
    text-align: center;
    text-decoration:  none;
    outline:none;
    -moz-outline-style: none;
}

.tab-item:focus {
    outline:none;
    -moz-outline-style: none;
}

.left-margin-25{
	margin-left: 25px;
}

/* List Grid View */

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 5px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 5px 5px 0px 5px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.nav .active{
	background:#00AADC;
}

.row{
	margin-left:-65px !important;
	margin-right:-65px !important;
}

.view_header{
	
	font-weight: bold;
}
.alert{
	background:#00AADC;
}
