<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>
   <property name="hibernate.connection.pool_size">50</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">50</property>
    <property name="hibernate.c3p0.timeout">300</property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/accounts
   </property>
   <property name="hibernate.connection.username">
     root
   </property>
   <property name="hibernate.connection.password">
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="Transactions.hbm.xml"/>
   <mapping resource="TransactionType.hbm.xml"/>
   <mapping resource="Category.hbm.xml"/>

</session-factory>
</hibernate-configuration>